.login {
  box-sizing: border-box;

  width: 544px;
  height: 493px;
  padding: 55px 56px;

  background: #F6F7FF;
  border: 4px solid #2C36F2;
  border-radius: 0;

  @media (max-width: $desktop-width) {
    width: 678px;
    padding: 55px 84px;
  }
}

.login__header {
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
  margin-left: -1px;
}

.login__label {
  display: block;
  margin-top: 25px;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #394959;
}

.login__input-wrapper {
  position: relative;
}

.login__input {
  box-sizing: border-box;
  height: 60px;
  min-width: 86px;
  width: 100%;
  padding-top: 0;
  padding-left: 25px;
  padding-right: 4px;

  font-family: 'Roboto', 'Tahoma', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: left;

  border: 1px solid #1F1E25;
  border-radius: 4px;
}

.login__show-password {
  position: absolute;

  top: 0;
  right: 5px;
  min-width: 60px;
  min-height: 60px;
  width: 60px;
  height: 60px;

  font-size: 0;

  border: none;
  background-color: transparent;
}

.login__forgotten-password {
  display: block;
  min-width: 100px;
  width: 125px;
  min-height: 10px;
  height: 30px;
  padding-top: 7px;
  margin-left: auto;

  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  text-align: right;
  text-decoration: none;

  color: #707C87;
  background-color: transparent;
}

.login__button {
  min-width: 100px;
  min-height: 10px;
  width: 424px;
  height: 60px;
  margin-top: 19px;

  color: #F6F7FF;
  background-color: #2C36F2;

  @media (max-width: $desktop-width) {
    width: 502px;
  }
}

.login__close-button {
  position: absolute;
  display: block;
  top: 43px;
  right: 44.5px;
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;

  width: 40px;
  height: 40px;
  background-color: transparent;

  font-size: 0;

  &::before {
    position: absolute;
    content: '';

    top: 20px;
    left: 9px;
    width: 23px;
    height: 2px;
    border-radius: 1px;
    background-color: #1F1E25;
    transform: rotate(45deg);
  }

  &::after {
    position: absolute;
    content: '';

    top: 20px;
    left: 9px;
    width: 23px;
    height: 2px;
    border-radius: 1px;
    background-color: #1F1E25;
    transform: rotate(-45deg);
  }

  @media (max-width: $desktop-width) {
    right: 72px;
  }
}
