.calculator__header {
  margin-top: 96px;

  font-weight: 800;
  font-size: 41px;
  line-height: 57px;

  color: #1F1E25;
}

.calculator__fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 68px;

  border: none;

  &--second-step {
    margin-top: 18px;
    padding-top: 42px;
  }
}

.calculator__legend {
  position: absolute;

  top: 15px;
  padding: 0;

  font-weight: 500;
  font-size: 22px;
  line-height: 31px;

  color: #1F1E25;
}

.calculator__selector {
  position: relative;

  box-sizing: border-box;
  width: 600px;
  height: 60px;

	border: 1px solid #1F1E25;
  border-radius: 4px;

  &::after {
    position: absolute;

    content: '';

    display: block;
    width: 10px;
    height: 10px;
    top: 20px;
    right: 25px;

    border-bottom: 2px solid #1F1E25;
    border-left: 2px solid #1F1E25;
    transform: rotate(315deg) translate(0%, 0%);
    transition: transform ease-in-out 100ms;
  }

  &[open] {
    margin-bottom: 119px;
    z-index: 1;
    border-radius: 4px 4px 0 0;
  }

  &[open]::after {
    top: 18px;
    transform: rotate(135deg) translate(50%, -50%);
  }
}

.selector__summary {
  position: relative;
  z-index: 1;
  width: 600px;
  height: 60px;
  padding-left: 18px;
  padding-top: 19px;

	cursor: pointer;
  list-style: none;
  background-color: transparent;

  &::-webkit-details-marker {
    display: none;
  }
}

.selector__option-input {
  font-family: 'Roboto', 'Tahoma', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

	counter-increment: radios;
	appearance: none;
	display: none;

  &:checked {
    font-weight: 500;
    display: inline;
  }

  &:after {
    content: attr(title);
    display: inline;
  }
}

.selector__options {
	position: absolute;

	box-sizing: border-box;
  width: 100%;
	top: 59px;
  left: -1px;
	margin: 0;

  counter-reset: labels;
}


.selector__option {
  box-sizing: border-box;
	margin: 0;
  padding: 0;
	width: 600px;
  height: 60px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #1F1E25;

  border-left: 1px solid #1F1E25;
  border-right: 1px solid #1F1E25;
  border-bottom: 1px solid #C1C2CA;
  appearance: none;

  &:last-child {
    padding-bottom: 0;

    border-radius: 0 0 4px 4px;
    border-bottom: 1px solid #1F1E25;
  }
}

.selector__label {
  box-sizing: border-box;
  display: block;

	margin: 0;
  padding: 0;
  padding-left: 23px;
  padding-top: 20px;
	width: 600px;
  height: 60px;

  cursor: pointer;
}

.calculator__label {
  position: relative;
  display: block;
  margin-top: 22px;
  margin-bottom: 10.5px;

  cursor: pointer;

  &--checkbox {
    padding-top: 3px;
    padding-left: 24px;
    width: 400px;

    &::before {
      content: '';
      box-sizing: border-box;
      position: absolute;

      width: 16px;
      height: 16px;

      top: 4px;
      left: 0;

      background: transparent;
      border: 1px solid #1F1E25;
      border-radius: 2px;
    }
  }
}

.calculator__input-wrapper {
  position: relative;
  display: flex;
  justify-content: center;

  box-sizing: border-box;
  width: 600px;
  height: 60px;

  border: 1px solid #1F1E25;
  border-radius: 4px;
}

.calculator__button-minus {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;

  font-size: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;

    top: 28px;
    left: 24px;
    width: 16px;
    height: 2px;

    background-color: #1F1E25;
  }
}

.calculator__input {
  box-sizing: border-box;
  height: 60px;
  min-width: 86px;
  padding-top: 0;
  padding-right: 4px;

  font-family: 'Roboto', 'Tahoma', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: right;

  color: #1F1E25;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--loan-terms {
    padding-top: 2px;
  }
}

.calculator__input-text {
  width: 186px;
  padding-top: 17px;

  font-family: 'Roboto', 'Tahoma', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: left;

  cursor: pointer;

  &--initial-fee {
    width: 202px;
  }

  &--loan-terms {
    width: 228px;
    padding-top: 18px;
  }
}

.calculator__button-plus {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;

  font-size: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;

    top: 29px;
    left: 20px;
    width: 16px;
    height: 2px;

    background-color: #1F1E25;
  }

  &::after {
    content: '';
    position: absolute;

    top: 29px;
    left: 20px;
    width: 16px;
    height: 2px;

    background-color: #1F1E25;
    transform: rotate(90deg);
  }
}

.calculator__prompt {
  margin: 0;
  margin-top: 5px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: #707C87;
}

.calculator__range {
  height: 1px;
  -webkit-appearance: none;
  margin: 7px 0;
  margin-top: 21px;
  width: 600px;

  &--loan-terms {
    margin-top: 17px;
  }

  &:focus {
    outline: 1px solid #707C87;
    outline-offset: 8px;
  }

  &::-webkit-slider-runnable-track {
    width: 600px;
    height: 1px;

    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #C1C2CA;
    border: 0px solid #000000;
  }

  &:focus::-webkit-slider-runnable-track {
    background: #C1C2CA;
  }

  &::-webkit-slider-thumb {
    position: relative;
    box-shadow: 0px 0px 0px #000000;
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #2C36F2;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
  }

  &::-moz-range-track {
    width: 600px;
    height: 1px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #C1C2CA;
    border: 0px solid #000000;
  }

  &::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #2C36F2;
    cursor: pointer;
  }
}

.calculator__range-text {
  display: block;
  margin-top: 6px;

  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #707C87;
}

.calculator__checkbox:checked + .calculator__label--checkbox {
  &::before {
    border: none;
    background-color: #2C36F2;
  }

  &::after {
    position: absolute;
    display: block;
    content: '';

    top: 9px;
    left: 4px;
    width: 16px;
    height: 16px;

    background-color: transparent;
    background-image: url('data:image/svg+xml,\
    <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">\
    <path d="M1 2.14286L3.5 5L7 1" stroke="%23F6F7FF"/>\
    </svg>');
    background-repeat: no-repeat;
  }
}
