.calculator__header {
  margin-top: 96px;

  font-weight: 800;
  font-size: 41px;
  line-height: 57px;

  color: #1F1E25;

  @media (max-width: $desktop-width) {
    margin-top: 69px;

    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 53px;

    font-size: 22px;
    line-height: 31px;
  }
}

.calculator__form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calculator__fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 68px;
  width: 600px;

  border: none;

  &--second-step {
    margin-top: -53px;
    padding-top: 42px;
    margin-bottom: 59px;
  }

  &--third-step {
    box-sizing: border-box;
    margin: -1px auto 71px;
    padding: 0 70px;
    padding-top: 120px;
    width: 770px;
    height: 722px;

    background-color: #F6F7FF;
    border-radius: 4px;
  }

  @media (max-width: $max-width) {
    width: 330px;
  }

  @media (max-width: $desktop-width) {
    width: 100%;
    padding-top: 44px;

    &--second-step {
      padding-top: 35px;
      margin-bottom: 9px;
    }

    &--third-step {
      margin-top: -16px;
      margin-bottom: 0;
      height: 668px;
      padding: 0;
      padding-top: 65px;
      background-color: transparent;
    }

    @media (max-width: $tablet-width) {
      padding-top: 40px;
      width: 290px;
      margin-bottom: 0;

      &--third-step {
        width: 290px;
        margin-bottom: 143px;
      }
    }
  }
}

.calculator__legend {
  position: absolute;

  top: 15px;
  padding: 0;

  font-weight: 500;
  font-size: 22px;
  line-height: 31px;

  color: #1F1E25;

  &--third-step {
    width: 630px;
    padding-top: 48px;

    text-align: center;
  }

  @media (max-width: $desktop-width) {
    top: 1px;

    font-size: 18px;
    line-height: 25px;

    &--second-step {
      top: 17px;
    }

    &--third-step {
      width: 100%;
      top: 0;
      padding-top: 0;
    }
  }

  @media (max-width: $tablet-width) {
    margin-top: 3px;

    font-size: 16px;
    line-height: 22px;

    &--second-step {
      top: 21px;
    }

    &--third-step {
      width: 100%;
      top: 0;
      padding-top: 0;
      margin-top: 5px;
    }
  }
}

.calculator__selector {
  position: relative;

  box-sizing: border-box;
  width: 100%;
  height: 60px;
  margin-bottom: 71px;

	border: 1px solid #1F1E25;
  border-radius: 4px;

  &[open] {
    margin-bottom: 191px;
    z-index: 1;
    border-radius: 4px 4px 0 0;

    @media (max-width: $tablet-width) {
      margin-bottom: 174px;
    }
  }

  &[open] .selector__summary::after {
    top: 18px;
    transform: rotate(135deg) translate(50%, -50%);
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 54px;
  }
}

.selector__summary {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 39px;
  padding-left: 18px;
  padding-top: 19px;

	cursor: pointer;
  list-style: none;
  background-color: transparent;

  list-style-type: none;

  &::-webkit-details-marker {
    display: none;
  }

  &::marker {
    display: none;
  }

  &::after {
    position: absolute;

    content: '';

    display: block;
    width: 10px;
    height: 10px;
    top: 20px;
    right: 43px;

    border-bottom: 2px solid #1F1E25;
    border-left: 2px solid #1F1E25;
    transform: rotate(315deg) translate(0%, 0%);
    transition: transform ease-in-out 100ms;

    @media (max-width: $tablet-width) {
      right: 16px;
    }
  }

  @media (max-width: $tablet-width) {
    padding-left: 9px;
  }
}

.selector__option-input {
  font-family: 'Roboto', 'Tahoma', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

	counter-increment: radios;
	appearance: none;
	display: none;

  &:checked {
    font-weight: 500;
    display: inline;
    cursor: pointer;
  }

  &:after {
    content: attr(title);
    display: inline;
  }
}

.selector__options {
	position: absolute;

	box-sizing: border-box;
  width: 100%;
	top: 59px;
  left: -1px;
	margin: 0;

  counter-reset: labels;
}


.selector__option {
  box-sizing: border-box;
	margin: 0;
  padding: 0;
	width: 600px;
  height: 60px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #1F1E25;

  border-left: 1px solid #1F1E25;
  border-right: 1px solid #1F1E25;
  border-bottom: 1px solid #C1C2CA;
  appearance: none;

  &:last-child {
    padding-bottom: 0;

    border-radius: 0 0 4px 4px;
    border-bottom: 1px solid #1F1E25;
  }

  @media (max-width: $max-width) {
    width: 330px;
  }

  @media (max-width: $desktop-width) {
    width: 678px;
  }

  @media (max-width: $tablet-width) {
    width: 290px;
  }
}

.selector__label {
  box-sizing: border-box;
  display: block;

	margin: 0;
  padding: 0;
  padding-left: 23px;
  padding-top: 20px;
	width: 600px;
  height: 60px;

  cursor: pointer;

  @media (max-width: $tablet-width) {
    padding-left: 14px;
  }
}

.calculator__label {
  position: relative;
  display: block;
  margin-top: 22px;
  margin-bottom: 10.5px;

  cursor: pointer;

  &--checkbox {
    padding-top: 3px;
    padding-left: 24px;
    width: 400px;

    &::before {
      content: '';
      box-sizing: border-box;
      position: absolute;

      width: 16px;
      height: 16px;

      top: 4px;
      left: 0;

      background: transparent;
      border: 1px solid #1F1E25;
      border-radius: 2px;
    }

    @media (max-width: $desktop-width) {
      margin-top: 17px;
    }
  }

  @media (max-width: $desktop-width) {
    &--initial-fee {
      margin-top: 16px;
    }

    &--loan-terms {
      margin-top: 17px;
      margin-bottom: 11px;
    }
  }

  @media (max-width: $tablet-width) {
    margin-top: 16px;
    width: 290px;

    &--initial-fee {
      margin-top: 12px;
    }

    &--loan-terms {
      margin-top: 12px;
    }

    &--checkbox {
      width: 260px;
      margin-top: 12px;
      margin-bottom: 0;

      font-size: 14px;
      line-height: 20px;
    }
  }
}

.calculator__input-wrapper {
  position: relative;
  display: flex;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
  height: 60px;

  border-radius: 4px;

  @media (max-width: $max-width) {
    width: 330px;
  }

  @media (max-width: $desktop-width) {
    width: 100%;
  }

  @media (max-width: $tablet-width) {
    width: 290px;
  }
}

.calculator__button-minus {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  min-width: 60px;
  height: 60px;

  font-size: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;

    top: 28px;
    left: 24px;
    width: 16px;
    height: 2px;

    background-color: #1F1E25;
  }
}

.calculator__input {
  box-sizing: border-box;
  height: 60px;
  min-width: 86px;
  width: 100%;
  padding-top: 0;
  padding-right: 4px;

  font-family: 'Roboto', 'Tahoma', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

  color: #1F1E25;
  border: 1px solid #1F1E25;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: 0 0 10px rgba($color: #2C36F2, $alpha: 0.7);
  }

  &--loan-terms {
    padding-top: 2px;
  }

  &--full-name {
    width: 630px;
    margin: 30px auto;
    margin-top: 16px;
    padding-left: 23px;
    padding-top: 3px;

    text-align: left;

    &::placeholder {
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;

      letter-spacing: 0.03em;

      color: #707C87;
    }
  }

  &--user-phone,
  &--user-email {
    width: 300px;
    padding-left: 23px;
    padding-top: 3px;
    margin-right: 30px;

    text-align: left;

    &::placeholder {
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;

      letter-spacing: 0.03em;

      color: #707C87;
    }
  }

  &--user-email {
    margin-right: 0;
  }

  &--error {
    border: 1px solid #EC1A1A;
    background-color: rgba($color: #EC1A1A, $alpha: 0.05);
    box-shadow: 0 0 10px rgba($color: #EC1A1A, $alpha: 0.5);
  }

  @media (max-width: $desktop-width) {
    font-size: 16px;
    line-height: 22px;

    &--full-name {
      width: 100%;
    }

    &--user-phone {
      width: 324px;
    }

    &--user-email {
      width: 324px;
    }
  }

  @media (max-width: $tablet-width) {
    width: 290px;
    margin-bottom: 20px;
    padding-left: 12px;
    margin-right: 0;

    &--full-name {
      margin-top: 14px;
    }
  }
}

.calculator__error {
  position: absolute;
  bottom: 2px;
  left: 10px;

  color: #EC1A1A;
}

.calculator__input-text {
  width: 186px;
  padding-top: 17px;

  font-family: 'Roboto', 'Tahoma', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: left;

  cursor: pointer;

  &--initial-fee {
    width: 202px;
  }

  &--loan-terms {
    width: 228px;
    padding-top: 18px;
  }
}

.calculator__button-plus {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  min-width: 60px;
  height: 60px;

  font-size: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;

    top: 29px;
    left: 20px;
    width: 16px;
    height: 2px;

    background-color: #1F1E25;
  }

  &::after {
    content: '';
    position: absolute;

    top: 29px;
    left: 20px;
    width: 16px;
    height: 2px;

    background-color: #1F1E25;
    transform: rotate(90deg);
  }

  @media (max-width: $tablet-width) {
    min-width: 20px;
    width: 51px;
  }
}

.calculator__prompt {
  margin: 0;
  margin-top: 5px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: #707C87;
}

.calculator__range {
  height: 1px;
  -webkit-appearance: none;
  margin: 7px 0;
  margin-top: 21px;
  width: 100%;

  &--loan-terms {
    margin-top: 17px;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 10px rgba($color: #2C36F2, $alpha: 0.7);
  }

  &::-webkit-slider-runnable-track {
    width: 600px;
    height: 1px;

    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #C1C2CA;
    border: 0px solid #000000;
  }

  &:focus::-webkit-slider-runnable-track {
    background: #C1C2CA;
  }

  &::-webkit-slider-thumb {
    position: relative;
    box-shadow: 0px 0px 0px #000000;
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #2C36F2;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
  }

  &::-moz-range-track {
    width: 600px;
    height: 1px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #C1C2CA;
    border: 0px solid #000000;
  }

  &::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #2C36F2;
    cursor: pointer;
  }

  @media (max-width: $max-width) {
    width: 330px;
  }

  @media (max-width: $desktop-width) {
    width: 100%;
  }

  @media (max-width: $tablet-width) {
    width: 290px;
  }
}

.calculator__range-text {
  display: inline-block;
  margin: 0;
  margin-top: 6px;
  margin-right: 516px;
  width: 42px;

  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #707C87;

  cursor: pointer;

  @media (max-width: $max-width) {
    margin-right: 255px;
  }

  @media (max-width: $desktop-width) {
    margin-right: 594px;
  }

  @media (max-width: $tablet-width) {
    margin-right: 206px;
  }

  &--max {
    margin-right: 0;
  }
}

.calculator__checkbox:checked + .calculator__label--checkbox {
  &::before {
    border: none;
    background-color: #2C36F2;
  }

  &::after {
    position: absolute;
    display: block;
    content: '';

    top: 9px;
    left: 4px;
    width: 16px;
    height: 16px;

    background-color: transparent;
    background-image: url('data:image/svg+xml,\
    <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">\
    <path d="M1 2.14286L3.5 5L7 1" stroke="%23F6F7FF"/>\
    </svg>');
    background-repeat: no-repeat;
  }
}

.calculator__offer {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  top: 22px;
  right: 0;

  width: 500px;
  height: 389px;
  padding-left: 58px;

  font-weight: 500;
  font-size: 22px;
  line-height: 31px;

  color: #1F1E25;

  background-color: #F6F7FF;
  border-radius: 4px;

  &--error {
    height: 225px;
  }

  @media (max-width: $max-width) {
    width: 480px;
    padding-left: 50px;
  }

  @media (max-width: $desktop-width) {
    position: relative;
    width: 678px;
    padding-left: 60px;
    margin-bottom: 93px;
  }

  @media (max-width: $tablet-width) {
    width: 290px;
    height: 433px;

    padding-left: 0;
    margin-top: 7px;
    margin-bottom: 76px;

    &--error {
      height: 201px;
    }
  }
}

.offer__header {
  box-sizing: border-box;

  width: 375px;
  margin: 0;
  padding-top: 53px;

  @media (max-width: $desktop-width) {
    width: 100%;
  }

  @media (max-width: $tablet-width) {
    width: 230px;
    padding-top: 35px;
    padding-left: 15px;
    margin-bottom: 23px;

    font-size: 18px;
    line-height: 25px
  }

  &--error {
    @media (max-width: $desktop-width) {
      width: 375px;
    }

    @media (max-width: $tablet-width) {
      width: 240px;
    }
  }
}

.offer__wrapper {
  width: 200px;
  margin-right: 27px;
  margin-bottom: 2px;

  &:nth-child(2n + 1) {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 14px;
  }
}

.offer__number {
  box-sizing: border-box;

  margin: 0;
  padding-top: 24px;

  @media (max-width: $tablet-width) {
    padding-top: 0;
    padding-left: 15px;

    font-size: 18px;
    line-height: 25px;
  }
}

.offer__text {
  box-sizing: border-box;

  margin: 0;
  padding-top: 2px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #394959;

  &--error {
    margin-top: 10px;
    width: 260px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 0;
    padding-left: 15px;

    font-size: 16px;
    line-height: 22px;

    &--error {
      margin-top: -10px;
      width: 270px;
    }
  }
}

.offer__button {
  margin-top: 32px;
  width: 382px;
  height: 51px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  color: #F6F7FF;

  background-color: #2C36F2;
  border-radius: 4px;

  @media (max-width: $desktop-width) {
    width: 558px;
    padding: 0;
  }

  @media (max-width: $tablet-width) {
    width: 260px;
    margin: 0 auto;
    margin-top: 15px;

    font-size: 14px;
    line-height: 20px;
  }
}

.calculator__data-list {
  @media (max-width: $tablet-width) {
    padding-top: 22px;
  }
}

.calculator__data-item {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  height: 41px;
  width: 630px;
  margin: 0 auto;
  margin-bottom: 14px;

  border-bottom: 1px solid #C4C4C4;

  @media (max-width: $desktop-width) {
    width: 100%;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: 60px;
    margin-bottom: 16px;
  }
}

.calculator__data-header {
  padding-top: 4px;

  @media (max-width: $tablet-width) {
    padding-top: 0;
  }
}

.calculator__data-value {
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;

  color: #1F1E25;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 25px;
  }
}

.calculator__submit {
  display: block;
  width: 198px;
  height: 51px;
  margin: 40px auto 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #F6F7FF;

  background-color: #2C36F2;
  border-radius: 4px;

  @media (max-width: $desktop-width) {
    display: inline-flex;
    width: 100%;
    padding: 0;
  }

  @media (max-width: $tablet-width) {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
  }
}

.calculator__popup-wrapper {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  top: 0;
  left: 0;

  background-color: rgba(0,0,0,.3);
}
