.header {
  background: #F6F7FF;
}

.header__wrapper {
  display: flex;
  min-height: 91px;

  @media (max-width: $desktop-width) {
    min-height: 69px;
    height: 69px;
  }
}

.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;

  @media (max-width: $desktop-width) {
    padding-top: 10px;
  }
}

.header__logo-image {
  display: none;
  margin-top: -12px;

  &--desktop {
    display: block;

    @media (max-width: $desktop-width) {
      display: none;
    }
  }

  &--tablet {
    @media (max-width: $desktop-width) {
      display: block;
    }
  }
}

.header__nav {
  width: 100%;
  margin-left: 106px;

  @media (max-width: $max-width) {
    margin-left: 3%;
  }

  @media (max-width: $desktop-width) {
    margin-left: 65px;
  }
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 24px;
  padding-top: 37px;

  @media (max-width: $max-width) {
    margin-right: 15px;
  }

  @media (max-width: $desktop-width) {
    padding-top: 30px;
    margin-right: 19px;
  }
}

.header__link--active {
  color: #2C36F2;

  cursor: default;

  &:hover {
    opacity: 1;
  }
}

.header__user-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 203px;

  color: #1F1E25;
  letter-spacing: 0;

  @media (max-width: $desktop-width) {
    justify-content: flex-end;
    width: 24px;

    font-size: 0;
  }
}

.header__popup-wrapper {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  top: 0;
  left: 0;

  background-color: rgba(0,0,0,.3);
}
