.footer {
  background: #F6F7FF;
}

.footer__wrapper {
  display: flex;
  position: relative;

  min-height: 224px;

  @media (max-width: $desktop-width) {
    flex-wrap: wrap;
    flex-direction: column;

    min-height: 300px;
    height: 320px;
  }

  @media (max-width: $tablet-width) {
    flex-wrap: nowrap;
    min-height: 320px;
    height: auto;
    padding: 0 0;
  }
}

.footer__logo {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;

  margin-top: 56px;
  width: 148px;
  z-index: 3;

  color: #1F1E25;
  font-family: 'WorkSans', 'Tahoma', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  @media (max-width: $desktop-width) {
    margin-top: 28px;
  }

  @media (max-width: $tablet-width) {
    margin-left: 12px;
    margin-top: 40px;
    margin-bottom: 120px;
  }
}

.footer__logo-image {
  display: none;
  margin-top: -8px;

  &--desktop {
    display: block;

    @media (max-width: $desktop-width) {
      display: none;
    }
  }

  &--tablet {
    @media (max-width: $desktop-width) {
      display: block;
    }

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  &--mobile {
    display: none;

    @media (max-width: $tablet-width) {
      display: block;
    }
  }
}

.footer__address {
  margin-top: 17px;
  width: 252px;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 17px;

  color: #707C87;

  @media (max-width: $desktop-width) {
    margin-top: 170px;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.footer__license {
  margin-top: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 17px;

  color: #707C87;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.footer__nav {
  font-weight: 500;
  line-height: 22px;

  @media (max-width: $desktop-width) {
    position: absolute;
    left: 30px;
    top: 18px;

    font-size: 16px;
    line-height: 22px;
  }

  @media (max-width: $tablet-width) {
    left: 0px;
    top: 19px;

    font-size: 14px;
    line-height: 20px;
  }
}

.footer__list {
  margin: 0;
  padding: 0;
  padding-left: 81px;
  padding-top: 55px;
  list-style: none;

  @media (max-width: $max-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    height: 128px;
    padding-left: 15px;
  }
}

.footer__item {
  width: 200px;
  margin-bottom: 9px;

  @media (max-width: $max-width) {
    width: 165px;
  }
}

.footer__link {
  letter-spacing: 0;
}

.footer__contact-number {
  padding-top: 58px;

  font-weight: 400;
  font-size: 12px;
  line-height: 17px;

  color: #707C87;

  &--mobile {
    margin-right: 62px;
    padding-top: 59px;
  }

  @media (max-width: $max-width) {
    margin-left: 5px;
    margin-right: 15px;
  }

  @media (max-width: $desktop-width) {
    margin-right: 30px;
    padding-top: 10px;
    padding-left: 3px;

    &--mobile {
      padding-top: 29px;
      padding-left: 0;
    }
  }

  @media (max-width: $tablet-width) {
    margin-right: 0;
    padding-left: 10px;
    padding-top: 3px;

    &--mobile {
      padding-top: 29px;
      margin-bottom: 12px;
    }
  }
}

.footer__phone-number {
  display: inline-flex;
  justify-content: space-between;
  padding-left: 19px;
  padding-top: 1px;
  width: 148px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  vertical-align: top;

  color: #1F1E25;

  &--mobile {
    padding-left: 24px;
    padding-top: 1px;
    width: 73px;
  }

  @media (max-width: $max-width) {
    padding-left: 0;
  }
}

.footer__phone-description {
  margin-top: 0;
  padding-left: 52px;
  width: 167px;

  @media (max-width: $max-width) {
    padding-left: 0;
  }

  @media (max-width: $desktop-width) {
    margin-left: 30px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.footer__social {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 60px;
  margin-left: 35px;
  width: 102px;
  height: 16px;

  list-style: none;

  @media (max-width: $max-width) {
    margin-left: 5px;
  }

  @media (max-width: $desktop-width) {
    width: 117px;
    margin-left: 7px;
    margin-top: 12px;
  }

  @media (max-width: $tablet-width) {
    margin-left: 15px;
    margin-top: 18px;
    margin-bottom: 49px;
  }
}
