.footer {
  background: #F6F7FF;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;

  min-height: 224px;

  @media (max-width: $desktop-width) {
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;

    width: 100%;
    min-height: 320px;
  }

  @media (max-width: $tablet-width) {
    flex-wrap: nowrap;
    min-height: 320px;
    height: auto;
    padding: 0 0;
  }
}

.footer__logo-wrapper {
  @media (max-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    margin-left: -152px;
  }

  @media (max-width: $tablet-width) {
    margin-left: 1px;
  }
}

.footer__logo {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;

  margin-top: 56px;
  width: 148px;
  z-index: 3;

  color: #1F1E25;
  font-family: 'WorkSans', 'Tahoma', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  cursor: default;

  @media (max-width: $desktop-width) {
    margin-top: 28px;
  }

  @media (max-width: $tablet-width) {
    margin-left: 12px;
    margin-top: 40px;
    margin-bottom: 120px;
  }
}

.footer__logo-image {
  display: none;
  margin-top: -8px;

  &--desktop {
    display: block;

    @media (max-width: $desktop-width) {
      display: none;
    }
  }

  &--tablet {
    @media (max-width: $desktop-width) {
      display: block;
    }

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  &--mobile {
    display: none;

    @media (max-width: $tablet-width) {
      display: block;
    }
  }
}

.footer__address {
  margin-top: 17px;
  width: 252px;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 17px;

  color: #707C87;

  @media (max-width: $desktop-width) {
    margin-top: auto;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.footer__license {
  margin-top: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 17px;

  color: #707C87;

  @media (max-width: $desktop-width) {
    margin-bottom: 56px;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.footer__nav {
  font-weight: 500;
  line-height: 22px;

  @media (max-width: $desktop-width) {
    z-index: 2;
    order: -1;
    height: 100%;
    margin-left: -15px;
    margin-top: 18px;
    padding-bottom: 120px;

    font-size: 16px;
    line-height: 22px;
  }

  @media (max-width: $tablet-width) {
    order: 0;
    margin-left: -161px;
    padding-bottom: 222px;

    font-size: 14px;
    line-height: 20px;
  }
}

.footer__list {
  margin: 0;
  padding: 0;
  padding-left: 81px;
  padding-top: 55px;
  list-style: none;

  @media (max-width: $max-width) {
    display: flex;
    flex-direction: column;

    min-height: 128px;
    padding-left: 15px;
  }

  @media (max-width: $tablet-width) {
    min-height: 116px;
  }
}

.footer__item {
  width: 200px;
  margin-bottom: 9px;

  @media (max-width: $max-width) {
    width: 150px;
  }
}

.footer__link {
  letter-spacing: 0;
}

.footer__contact-number {
  padding-top: 58px;
  z-index: 2;

  font-weight: 400;
  font-size: 12px;
  line-height: 17px;

  color: #707C87;

  &--mobile {
    margin-right: 62px;
    padding-top: 59px;
  }

  @media (max-width: $max-width) {
    margin-left: 7px;
    margin-right: 0;

    &--mobile {
      margin-right: 10px;
    }
  }

  @media (max-width: $desktop-width) {
    position: absolute;
    top: 97px;
    left: 51%;
    margin-right: 30px;
    padding-top: 10px;
    padding-left: 3px;

    &--mobile {
      top: 0;
      right: 143px;
      padding-top: 29px;
      padding-left: 0;
    }
  }

  @media (max-width: $tablet-width) {
    top: auto;
    bottom: 82px;
    right: 106px;
    margin-right: 0;
    padding-left: 10px;
    padding-top: 3px;

    &--mobile {
      bottom: 142px;
      right: 108px;
      padding-top: 29px;
      margin-bottom: 12px;
    }
  }
}

.footer__phone-number {
  display: inline-flex;
  justify-content: space-between;
  padding-left: 19px;
  padding-top: 1px;
  width: 148px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  vertical-align: top;

  color: #1F1E25;

  &--mobile {
    padding-left: 24px;
    padding-top: 1px;
    width: 73px;
  }

  @media (max-width: $max-width) {
    padding-left: 0;
  }
}

.footer__phone-description {
  margin-top: 0;
  padding-left: 52px;
  width: 167px;

  @media (max-width: $max-width) {
    padding-left: 0;
  }

  @media (max-width: $desktop-width) {
    margin-left: 30px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.footer__social {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0;
  padding: 0;
  z-index: 2;
  margin-top: 60px;
  margin-left: 26px;
  min-width: 119px;
  min-height: 16px;

  list-style: none;

  @media (max-width: $max-width) {
    margin-left: 5px;
  }

  @media (max-width: $desktop-width) {
    position: absolute;

    margin: 0;
    top: 189px;
    left: 50.9%;
    min-width: 117px;
    max-width: 300px;
  }

  @media (max-width: $tablet-width) {
    margin-left: -158px;
    margin-top: auto;
    margin-bottom: 44px;
  }
}

.footer__social-link {
  margin: 0 7.5px;

  @media (max-width: $desktop-width) {
    margin: 0 9.5px;
  }
}
