.map {
  margin-bottom: 106px;
}

.map__header {
  margin-bottom: 56px;
  margin-top: 25px;


  font-weight: 800;
  font-size: 41px;
  line-height: 57px;

  color: #1F1E25;

  @media (max-width: $desktop-width) {
    margin-top: -1px;
    margin-bottom: 32px;

    font-size: 32px;
    line-height: 45px;
  }
}

.map__img {
  width: 100%;
}
